// SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception
{% set identity = "identity" if generating_exemplar else "todo" %}

#include <beman/{{project_ident}}/config.hpp>
#include <beman/{{project_ident}}/{{identity}}.hpp>

{% if generating_exemplar %}
#if BEMAN_{{project_ident.upper()}}_USE_MODULES()
import std;
#else
    #include <iostream>
#endif

namespace exe = beman::{{project_ident}};

int main() {
    std::cout << exe::identity()(2024) << '\n';
    return 0;
}
{% else %}
int main() {
    // TODO
}
{% endif %}
