{
  "name": "beman-{{project_name.replace('_', '-')}}",
  "version-semver": "@VERSION@",
  "description": "{{description}}",
  "homepage": "https://github.com/bemanproject/{{project_name}}",
  "license": "Apache-2.0 WITH LLVM-exception",
  "dependencies": [
    {
      "name": "vcpkg-cmake",
      "host": true
    },
    {
      "name": "vcpkg-cmake-config",
      "host": true
    }
  ],
  "features": {
    "modules": {
      "description": "Provide beman.{{project_name}} as a C++ module"
    }
  }
}
