export module beman.{{project_ident}};

import std;

#define BEMAN_{{project_ident.upper()}}_INCLUDED_FROM_INTERFACE_UNIT
export {
#pragma clang diagnostic push
#pragma clang diagnostic ignored "-Winclude-angled-in-module-purview"
#include <beman/{{project_ident}}/{{project_ident}}.hpp>
#pragma clang diagnostic pop
}
