// SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

#ifndef BEMAN_{{project_name.upper()}}_CONFIG_HPP
#define BEMAN_{{project_name.upper()}}_CONFIG_HPP

#if !defined(__has_include) || __has_include(<beman/{{project_name}}/config_generated.hpp>)
    #include <beman/{{project_name}}/config_generated.hpp>
#else
    #define BEMAN_{{project_name.upper()}}_USE_MODULES() 0
#endif

#endif
