// SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

#ifndef BEMAN_{{project_name.upper()}}_CONFIG_GENERATED_HPP
#define BEMAN_{{project_name.upper()}}_CONFIG_GENERATED_HPP

#cmakedefine01 BEMAN_{{project_name.upper()}}_USE_MODULES()

#endif
