// SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception
{% set identity = "identity" if generating_exemplar else "todo" %}

#ifndef BEMAN_{{project_name.upper()}}_{{identity.upper()}}_HPP
#define BEMAN_{{project_name.upper()}}_{{identity.upper()}}_HPP

#include <beman/{{project_name}}/config.hpp>

#if BEMAN_{{project_name.upper()}}_USE_MODULES() && !defined(BEMAN_{{project_name.upper()}}_INCLUDED_FROM_INTERFACE_UNIT)

import beman.{{project_name}};

#else

{% if generating_exemplar %}
    // C++ Standard Library: std::identity equivalent.
    // See https://eel.is/c++draft/func.identity:
    //
    // 22.10.12 Class identity  [func.identity]
    //
    // struct identity {
    //   template<class T>
    //     constexpr T&& operator()(T&& t) const noexcept;
    //
    //   using is_transparent = unspecified;
    // };
    //
    // template<class T>
    //   constexpr T&& operator()(T&& t) const noexcept;
    //
    // Effects: Equivalent to: return std::forward<T>(t);

    #if !BEMAN_EXEMPLAR_USE_MODULES()
        #include <utility> // std::forward
    #endif

{% endif %}
namespace beman::{{project_name}} {

{% if generating_exemplar %}
struct __is_transparent; // not defined

// A function object that returns its argument unchanged.
struct identity {
    // Returns `t`.
    template <class T>
    constexpr T&& operator()(T&& t) const noexcept {
        return std::forward<T>(t);
    }

    using is_transparent = __is_transparent;
};

{% else %}
// TODO

{% endif %}
} // namespace beman::{{project_name}}

#endif // BEMAN_{{project_name.upper()}}_USE_MODULES() &&
       // !defined(BEMAN_{{project_name.upper()}}_INCLUDED_FROM_INTERFACE_UNIT)

#endif // BEMAN_{{project_name.upper()}}_{{identity.upper()}}_HPP
